@import './styles/defaults';
@import './styles/config';
@import './styles/layout';
@import './styles/logo';
@import './styles/copyright';

form .css-1oljykh-MuiDivider-root {

  &::before, &::after {

    @media (prefers-color-scheme: dark) {

      border-top: thin solid rgb(255, 255, 255, 0.12);
      
    }
    
  }
  
}

#main-container {

  &.verify-page {

    .ghost-btn {

      align-self: center;
      background-color: $light;
      color: $primary;
      transition: all 0.08s ease-in-out;

      &:hover {

        font-weight: 500;

      }

      @media (prefers-color-scheme: dark) {

        background-color: $dark;
        color: $secondary;
        
      }

    }

  }

}