#copyright-container {

  @extend .w-100;
  @include setBackgroundColor($dark);
  padding: 4px 8px;

  #copyright-wrapper {

    @extend .flex, .justify-between, .align-center;
    font-family: $font;
    font-size: 8px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.32;
    
    #brand {
      
      @extend .flex, .align-center, .gap-4;

      h1 {

        @include setBrand(8px);
        margin-top: -1px;

      }

    }

  }

}