@mixin font($size) {

  h2, h3, h4, h5, h6, p, a, span, label, input, input::placeholder, button {

    font-family: $font;
    font-weight: 400;
    line-height: 1.32;

  }

  h2, h3, h4 {
    
    letter-spacing: 0;

  }

  h5, h6, p, a, span, label, input, input::placeholder, button {

    letter-spacing: 1;

  }

  p, p a, label {

    font-size: $size;

  }

  a {

    &:hover {

      font-weight: 500;

    }

  }

  button {

    font-size: 12px;
    text-transform: none;

  }

  span, input, input::placeholder {

    font-size: $size * 1.08;

  }

  .input-error {

    font-size: 8px;

  }

  h6 {
    
    font-size: $size * 1.16;

  }

  h5 {
    
    font-size: $size * 1.16 * 1.16;

  }

  h4 {
    
    font-size: $size * 1.16 * 1.16 * 1.16;

  }

  h3 {
    
    font-size: $size * 1.16 * 1.16 * 1.16 * 1.16;

  }

  h2 {
    
    font-size: $size * 1.16 * 1.16 * 1.16 * 1.16 * 1.16;

  }

}