#App {

  @extend .flex-col, .justify-between;
  @include setBackgroundColor(darken($light, 2%));
  height: 100dvh;
  max-height: 100dvh;
  width: 100dvw;
  max-width: 100dvw;

  @media (prefers-color-scheme: dark) {

    @include setBackgroundColor(lighten($dark, 2%));
    
  }

}