#App {

  @extend .flex, .justify-between;
  @include theme(12px, darken($light, 12%), 0.08s);
  flex-direction: column;
  height: 100dvh;
  max-height: 100dvh;
  width: 100dvw;
  max-width: 100dvw;
  
  @media (prefers-color-scheme: dark) {
    
    @include theme(12px, lighten($dark, 3%), 0.08s)
    
  }
  
  #header-container {
    
    @extend .w-100;
    
    #main-nav {
      
      @extend .flex, .justify-between, .align-center;

      .main-nav-list .main-nav-item {

        @extend .flex;

      }
      
    }
    
  }
  
  #main-container {
    
    @extend .h-100, .w-100;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    
    &::-webkit-scrollbar {
      
      display: none;
      
    }
    
  }
  
  #copyright-container {
    
    @extend .w-100;

  }

  #alert-zeta {

    @extend .absolute, .flex, .align-center;
    top: 32px;
    align-self: center;
    gap: 8px;
    max-width: 80%;
    padding: 1rem 1rem 1.25rem 1rem;
    animation: toast-pop 3.64s forwards ease-out;
    z-index: 10;

    .alert-btn {

      @extend .flex, .align-center;
      justify-content: center;
      padding: 0.5rem;
      margin: -8px;
      background: none;

    }
    
    .alert-progress-bg {

      @extend .absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 0.5rem;
      
      .alert-progress-bar {
        
        @extend .h-100, .w-100;
        animation: progress-bar-drain 3s forwards linear;
        animation-delay: 0.32s;

      }

    }

    @keyframes toast-pop {

      0% {

        transform: translateY(-88px);

      }

      7% {

        transform: translateY(8px);

      }

      10% {

        transform: translateY(0);

      }

      90% {

        opacity: 1;

      }

      100% {

        opacity: 0;

      }

    }

    @keyframes progress-bar-drain {

      0% {
    
        width: 100%;
    
      }
    
      100% {
    
        width: 0%;
    
      }
    
    }

  }

}